
/* Home section */

html {
    scroll-behavior: smooth;    
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(./images/BGRAY2.png);
    background-position: right center;
    background-size:cover;
}


.container1{
    color: ghostwhite;
    text-align: right;
    margin-right: 50px;
    float: right;

}

.container2{
    color: ghostwhite;
    text-align: left;
    margin-left: 50px;
    float: left;

}

.subtitle{
float: right;
font-size: 18px;
max-width: 40ch;

}


#links
{
float: right;
font-size: 25px;
max-width: 40ch;

}

body {
       /*opacity:  .60*/
    background-color:  lightgray; 
}

.left-box{ 
    position:relative; padding-top:30px;
}
.right-box{
    position:relative; padding-top:30px;
}

/*Contact*/

.contact_form
{
    padding-top: 85px;
}


.contact_form_inputs
{
    margin-bottom: 30px;
}
.input_field
{
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: black;
}


.text_field
{
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #0e8ce4;
    outline: none;

}
.contact_submit_button
{
    padding-left: 35px;
    padding-right: 35px;
    color: black;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

/*Achievements*/

/*.carousel-item{
    height: 300px;
    width: 400px;
}*/
//navlink
#navlink {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

#navlink {
  padding-top: 10rem;
  text-transform: capitalize;
}

#navlink {
  text-decoration: none;
  background-color: whitesmoke;
  color: darkslategray;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: padding 0.25s ease-out;
}

#navlink:hover {
  padding: 12px 12px;
  background-color: lightgray;
}  

#navitem {
  padding-right: 1rem;
}
//landing page
#btn-to-resume {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

#btn-to-resume {
  padding-top: 10rem;
  text-transform: capitalize;
}

#btn-resume {
  text-decoration: none;
  background-color: whitesmoke;
  color: darkslategray;
  font-size: 14px;
  padding: 8px 8px;
  border-radius: 4px;
  box-shadow: 8px 8px 8px rgba(12, 11, 11, 0.6);
  transition: padding 0.25s ease-out;
}

#btn-resume:hover {
  padding: 12px 12px;
  background-color: lightgray;
}  

//landing icon

#social-media {
  display: flex;
  padding-left: 0;
  list-style: none;
  position: relative;
  z-index: 997;
}
.soc-med-icon {
  padding-right: 2rem;
  padding-top: 15rem;
}
.soc-med-icon i {
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: darkslategray;
  background-color: gray;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
  transition: transform 0.25s ease-out;
  transition: color 0.25s ease out;
}

.soc-med-icon i:hover {
  background-color: var(--color-primary-400);
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 66rem) {


  .soc-med-icon {
    padding-left: 1rem;
    padding-right: 1rem;
  }



  }
  #social-media {
    justify-content: left;
  }

//landing pic
#profile-img p {
  padding-top: 8rem;
  padding-bottom: 1.5rem;
  text-align: left;
}
#profile-img img {
  display: inline-block;
  width: 10rem;
  border-radius: 16px;
  overflow: hidden;
  border: 6px solid var(--color-gray-600);
  box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
  cursor: pointer;
  transition: transform 0.25s ease-out;
}
#profile-img img:hover {
  border: 6px solid var(--color-primary-400);
  transform: scale(1.05);
}

//footer1
.soc-med-iconf {
  padding-right: 10rem;
  padding-top: 5rem;
  padding: 10px 10px;
}
.soc-med-iconf i {
  line-height: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: darkslategray;
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(12, 11, 11, 0.6);
  transition: transform 0.25s ease-out;
  transition: color 0.25s ease out;
}

.soc-med-iconf i:hover {
  background-color: var(--color-primary-400);
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 66rem) {


  .soc-med-iconf {
    padding-left: 3rem;
    padding-right: 3rem;
  }

//footer2



